<div class="medium-3 medium-offset-1 columns">

  <h2> Categories </h2>
  <ul>
    <li> <%= link_to "Programming", programming_blogs_path %> </li>
    <li> <%= link_to "Teaching", teaching_blogs_path %> </li>
    <li> <%= link_to "Writing", writing_blogs_path %> </li>
    <li> <%= link_to "General",  general_blogs_path %> </li>  
    <li> <%= link_to "All",  blogs_path %> </li>        
  </ul>

  <% if admin_signed_in? %>
    <hr>
    <%= link_to "Create New", new_blog_path, :class => "button" %>
  <% end %>


</div>