<div class="row panel">

  <div class="medium-8 columns">
    <h2> <%= @blog.title %> </h2>
    <br>
    <div> <%= @blog.content.html_safe %> </div>

    <%= link_to 'Back', request.referer %>

    <%= render partial: "shared/admin_links", 
               locals: { controller: "blogs", resource: @blog } %>    

  </div>
  
  <%= render 'sidebar' %>

</div>