<div class="row panel">
  <div class="medium-8 columns">
    <h1> Project: <%= @project.title %> </h1>
      <% if @project.screenshot_file_name != nil %>
        <%= image_tag @project.screenshot.url, alt: "#{@project.title} screenshot" %>
      <% end %>
      <p> <%= @project.description.html_safe %> </p>
      <p> <%= link_to "#{@project.link}", @project.link %> </p>
      <p> Category: <%= @project.category.capitalize %> </p>
    <br>
    <%= link_to 'Back', request.referer %>

    <%= render partial: "shared/admin_links", 
               locals: { controller: "projects", resource: @project } %>

  </div>


  <%= render 'sidebar' %>
</div>

