<div class="row panel">
  <div class="medium-8 columns">
    <h1> Project: <%= @project.title %> </h1>
      <%= image_tag @project.screenshot.url, alt: "#{@project.title} screenshot" %>
      <p> <%= @project.description.html_safe %> </p>
      <p> Date: <%= @project.date %> </p>
      <p> Link: <%= @project.link %> </p>
      <p> Status: <%= @project.status %> </p>
      <p> Category: <%= @project.category.capitalize %> </p>
    <br>
    <%= link_to 'Back', request.referer %>

    <%= render partial: "shared/admin_links", 
               locals: { controller: "projects", resource: @project } %>

  </div>


  <%= render 'sidebar' %>
</div>

