<div class="medium-3 medium-offset-1 columns">

  <h2> Categories </h2>
  <ul>
    <li> <%= link_to "Programming", programming_resources_path %> </li>
    <li> <%= link_to "Teaching", teaching_resources_path %> </li>
    <li> <%= link_to "Writing", writing_resources_path %> </li>
    <li> <%= link_to "General",  general_resources_path %> </li>  
    <li> <%= link_to "All",  resources_path %> </li>        
  </ul>


</div>