<div class="row panel">
  <div class="medium-8 columns">
    <h1>
      <%= @resource.title %>
    </h1>

    <hr>

    <p>
      <%= @resource.description.html_safe %>
    </p>

    <p>
      <%= link_to @resource.link, @resource.link %>
    </p>

    <p>
      <strong>Tags:</strong>
      <%= @resource.tags %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @resource.category.capitalize %>
    </p>

    <%= link_to 'Back', request.referer %>

    <% if current_admin %>
      <%= link_to 'Edit', edit_resource_path(@resource) %>
    <% end %>
  </div>

  <%= render 'sidebar' %>
</div>